#Compiled Object File
*.o
obj

#Precompiled Headers
*.gch

#Executables
*.out
bin
detection_test
opti_test
*.exe

#tmp files
#*/#
*~
.#*
images/parcours
*core*
*.layout
doxygen/html
*.depend
doxygen.log
output.jpg